/******************************************************
FIXEO NAV BAR
******************************************************/

.navbar-fixed-top {
    top: 0;
    border-width: 0 0 1px;
}

.navbar-fixed-bottom, .navbar-fixed-top {
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1030;
}

/******************************************************
AJUSTE DE LA IMÁGEN DEL NAV BAR
******************************************************/

div.crop-img {
    max-width: 100%;
    overflow: hidden;
    margin: 0 auto;
    padding: 0;
    position: relative;
    width: 320px;
    height: 120px;
}

div.crop-img img {
    margin-top: -45px;
    margin-left: -5px;
}

/******************************************************
SECCIÓN DE QUINES SOMOS
******************************************************/

section {
    margin-top: 15px;
}

.w {
    margin: 0 2.5%;
    margin-top: 15px;
}

.w p {
    font-size: 1.5rem;
}

.iot {
    width: 100%;
}